* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #262322;
}

body {
  display: grid;
  place-items: center;
  min-height: 600px;
  padding: 0 20px 120px 20px;
}

section {
  display: grid;
  place-items: center;
}

img {
  width: 100%;
}

div {
  position: relative;
  z-index: 10;
  display: grid;
  row-gap: 30px;
  max-width: 500px;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
}

strong {
  font-weight: inherit;
}

span {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 25px;
  word-spacing: 1px;
  padding: 30px;
  border-top: .5px solid rgba(0, 0, 0, 0.1);
  border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

a {
  place-self: center;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  color: #262322;
  text-decoration: none;
  cursor: pointer;
  background-color: #E2631A;
  color: white;
  font-size: 0.95rem;
  border-radius: 7px;
  transition: .2s ease;
  box-shadow: 0 0 0 transparent;
}

a:active {
  box-shadow: 0 0 6px 2px #E2631A;
}

@media (min-width: 900px) {
  a {
    width: 200px;
  }
}

@media (min-width: 1240px) {
  body {
    height: 100vh;
    padding: 0;
  }

  section {
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 700px;
  }

  h1 {
    font-size: 5.2rem;
  }

  span {
    font-size: 2.4rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    justify-self: start;
  }

  a:hover {
    background-color: rgb(236, 113, 41);
  }
}