* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #262322;
}

body {
  display: grid;
  place-items: center;
  min-height: 600px;
}

section {
  display: grid;
  place-items: center;
  background-color: white;
  row-gap: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  height: auto;
}

#heading {
  display: block;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

strong {
  font-weight: inherit;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 10px;
}

label {
  font-size: .9rem;
  font-weight: 500;
}

input {
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  height: 55px;
}

input[type=email] {
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: 300;
  transition: .3s ease;
}

input[type=email]:focus, input[type=email]:valid {
  border-color: #262322;
  outline: none;
}

input[type=submit] {
  margin-top: 40px;
  border: none;
  background-color: #E2631A;
  color: white;
  font-size: .95rem;
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
}

input[type=submit]:active {
  background-color: rgb(202, 84, 16);
}

input[type=email]:valid + span {
  display: block;
}

div {
  display: none;
}

span {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

svg {
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
}

svg > * {
  fill: none;
  stroke-miterlimit: 10;
}

circle {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  -webkit-transition: stroke-dashoffset .3s .3s ease-out;
  -moz-transition: stroke-dashoffset .3s .3s ease-out;
  -ms-transition: stroke-dashoffset .3s .3s ease-out;
  -o-transition: stroke-dashoffset .3s .3s ease-out;
  transition: stroke-dashoffset .3s .3s ease-out;
}

polygon {
  stroke: #E2631A;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  -webkit-transition: stroke-dashoffset .3s .3s ease-out;
  -moz-transition: stroke-dashoffset .3s .3s ease-out;
  -ms-transition: stroke-dashoffset .3s .3s ease-out;
  -o-transition: stroke-dashoffset .3s .3s ease-out;
  transition: stroke-dashoffset .3s .3s ease-out;
}

polyline, path, line {
  stroke: #E2631A;
  stroke-dasharray: 50;
  stroke-dashoffset: -50;
  -webkit-transition: stroke-dashoffset .6s .6s ease-out;
  -moz-transition: stroke-dashoffset .6s .6s ease-out;
  -ms-transition: stroke-dashoffset .6s .6s ease-out;
  -o-transition: stroke-dashoffset .6s .6s ease-out;
  transition: stroke-dashoffset .6s .6s ease-out;
}

.anim {
  opacity: 1;
  stroke-dashoffset: 0;
}

.try-again:active circle {
  fill: rgb(194, 83, 20);
  stroke: rgb(194, 83, 20);
}

a {
  display: grid;
  place-items: center;
  color: #262322;
  text-decoration: none;
  cursor: pointer;
  width: 130px;
  height: 55px;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  transition: .1s ease;
}

a:active {
  background-color: #E2631A;
  color: white;
}


@media (min-width: 900px) {
  section {
    width: 500px;
    border-radius: 12px;
  }

  input[type=submit]:hover, input[type=submit]:focus {
    background-color: rgb(238, 125, 59);
  }

  input[type=submit]:active {
    background-color: rgb(202, 84, 16);
  }

  .try-again {
    cursor: pointer;
  }
  
  .try-again > * {
    transition: .2s ease;
  }
  
  .try-again:hover circle, .try-again:focus circle {
    fill: #E2631A;
    stroke: #E2631A;
  }

  .try-again:active circle {
    fill: rgb(194, 83, 20);
    stroke: rgb(194, 83, 20);
  }
  
  .try-again:hover path,
  .try-again:hover polyline,
  .try-again:focus path,
  .try-again:focus polyline {
    stroke: #fff;
  }

  a:hover, a:focus {
    border: 2px solid #E2631A;
  }
  
  a:active {
    background-color: #E2631A;
    color: white;
  }
}