* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
  
ul {
  list-style-type: none;
}

a {
  color: #262322;
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-weight: inherit;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #262322;
}

body {
  display: grid;
  row-gap: 50px;
}

.align {
  margin: 0 20px;
}


/* WEB HEADER */
#web-header-container {
  background-color: white;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#web-header {
  display: grid;
  height: 100%;
}

#logo {
  grid-column: 1;
  place-self: center start;
  height: 50px;
  width: 100px;
}

#logo img {
  width: 100%;
  height: 100%;
}

nav {
  display: none;
  grid-column: 2;
  place-self: center;
}

nav a {
  padding: 10px;
  margin: 0 5px;
  font-size: .9rem;
  font-weight: 400;
}

.btn {
  display: grid;
  place-items: center;
  background-color: #E2631A;
  border-radius: 7px;
  color: white;
  font-weight: 500;
  transition: .1s ease;
}

.btn:active {
  background-color: rgb(202, 84, 16);
}

#web-header-btn {
  grid-column: 3;
  place-self: center end;
  width: 100px;
  height: 45px;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #E2631A;
}

#web-header-btn:active {
  background-color: #E2631A;
  color: white;
}


/* HEADER */
#header-container {
  width: 100%;
  height: auto;
}

#header {
  display: grid;
  place-items: center;
  height: inherit;
}

#header .section-heading {
  place-items: center;
}

.section-heading {
  position: relative;
  z-index: 10;
  display: grid;
  row-gap: 30px;
  max-width: 500px;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  color: #262322;
}

#title {
  font-size: 2.2rem;
}

.para {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 25px;
  word-spacing: 1px;
  padding: 30px;
  border-top: .5px solid rgba(0, 0, 0, 0.1);
  border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

#header-btn {
  width: 100%;
  height: 55px;
  font-size: 0.95rem;
}

#header-img-mobile {
  max-width: 650px;
}

#header-img {
  display: none;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}


/* SECTION 1 */
#section-1-container {
  width: 100%;
  height: auto;
}

#section-1 {
  display: grid;
  row-gap: 60px;
  place-items: center;
  height: initial;
}

#section-1 .section-heading {
  text-align: center;
}


/* SECTION 2 */
#section-2-container {
  width: 100%;
  height: auto;
}

#section-2 {
  display: grid;
  place-items: center;
  row-gap: 60px;
  height: inherit;
}

#steps {
  display: grid;
  row-gap: 30px;
  max-width: 500px;
}

#steps div {
  display: grid;
  row-gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 20px;
}

#steps .para {
  border: none;
  padding: 0;
}

#steps div img {
  place-self: center;
  width: 100%;
  max-width: 250px;
}


/* SECTION 3 */
#section-3-container {
  width: 100%;
  height: auto;
}

#section-3 {
  display: grid;
  place-items: center;
  row-gap: 60px;
  height: inherit;
}

#section-3 img {
  max-width: 600px;
}


/* FOOTER */
#footer-container {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.02);
  padding-top: 100px;
  padding-bottom: 20px;
}

#footer {
  display: grid;
  row-gap: 60px;
  place-items: center;
  height: inherit;
}

#footer-logo {
  display: inline-block;
  width: 300px;
  height: 80px;
}

#join {
  display: grid;
  place-items: center;
  text-align: center;
  row-gap: 20px;
  max-width: 500px;
}

#join p {
  font-size: 0.8rem;
  font-weight: 300;
}

#join .btn {
  width: 200px;
  height: 55px;
}

#social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 20px;
}

#social a {
  width: 40px;
  height: 40px;
}

#social svg {
  border-radius: 5px;
  width: inherit;
  height: inherit;
}

#social svg > * {
  transition: .2s ease;
}

#social svg rect {
  fill: #262322;
}

#social svg path {
  fill: white;
}

#social svg:active rect {
  fill: #000;
}

#copyright {
  font-size: 0.8rem;
  font-weight: 300;
}

/* Mobile landscape and Tablet portrait */
@media (min-width: 640px) {
  #header-btn {
    width: 200px;
  }
}

/* Tablet landscape */
@media (min-width: 900px) {
  body {
    row-gap: 70px;
  }

  #web-header-container {
    height: 80px;
  }

  nav {
    display: block;
  }
  nav a {
    transition: .2s ease;
  }

  nav a:hover, nav a:focus {
    box-shadow: 0 -3px 0 #262322 inset;
  }

  nav a:active {
    box-shadow: 0 -3px 0 #7a7a7a inset;
    color: #7a7a7a;
  }

  .align {
    width: 90%;
    margin: auto;
  }

  .btn:hover, .btn:focus {
    background-color: rgb(238, 125, 59);
  }

  .btn:active {
    background-color: rgb(202, 84, 16);
  }

  #web-header-btn:hover, #web-header-btn:focus {
    border: 2px solid #E2631A;
  }

  #header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
    position: relative;
  }
  
  #header .section-heading {
    grid-area: 1 / 1 / 1 / 1;
    place-self: start;
  }

  .heading {
    font-size: 2.4rem;
  }

  #title {
    font-size: 2.8rem;
  }

  .para {
    font-size: 0.9rem;
  }

  #header-btn {
    justify-self: start;
  }

  #header-img-mobile {
    display: none
  }

  #header-img {
    display: block;
    grid-area: 1 / 1 / 3 / 3;
    margin-top: 150px;
    max-width: 1100px;
  }

  #section-1 {
    row-gap: 200px;
  }

  #section-2 .section-heading {
    justify-self: start;
  }

  #steps {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    max-width: none;
    width: 100%;
  }

  #section-3 {
    position: relative;
  }

  #section-3 .section-heading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #section-3 img {
    margin-top: 250px;
    max-width: 1100px;
  }

  #footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 80px;
    justify-items: start;
    max-width: 750px;
  }

  #footer-logo {
    grid-area: 1 / 1 / 1 / 3;
    place-self: center;
  }

  #join {
    grid-area: 2 / 2 / 4 / 3;
    justify-items: start;
    text-align: left;
  }

  #social {
    grid-area: 2 / 1 / 4 / 2;
    place-self: center;
  }

  #social svg:hover rect {
    fill: #4b4b4b;
  }

  #social svg:active rect {
    fill: #000;
  }

  #copyright {
    grid-area: 4 / 1 / 4 / 3;
    place-self: center;
  }

  .animation-element {
    opacity: 0;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  #steps .fadeInLeft:nth-child(1) {
    animation-duration: .8s;
  }

  #steps .fadeInLeft:nth-child(2) {
    animation-duration: 1.2s;
  }

  #steps .fadeInLeft:nth-child(3) {
    animation-duration: 1.6s;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
}

/* Laptop and Desktop */
@media (min-width: 1240px) {
  body {
    row-gap: 120px;
  }

  .align {
    width: 85%;
  }

  #header-img {
    margin-top: 50px;
  }

  #steps {
    column-gap: 7%;
  }

  #steps div:nth-child(1) img {
    margin-left: -200px;
  }

  #steps div:nth-child(3) img {
    margin-right: -150px;
  }
}

/* Large Screens */
@media (min-width: 1440px) {
  .align {
    width: 70%;
  }

  #header-img {
    margin-top: 30px;
  }

  #steps div:nth-child(1) img {
    margin-left: -300px;
  }

  #steps div:nth-child(3) img {
    margin-right: -250px;
  }

  #section-3 img {
    margin-top: 150px;
  }
}