* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}
  
button {
    background-color: white;
    border: none;
    cursor: pointer;
}
