* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
  
ul {
  list-style-type: none;
}

a {
  color: #262322;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

strong {
  font-weight: inherit;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #262322;
}

body {
  display: -ms-grid;
  display: grid;
  row-gap: 100px;
}

.align {
  margin: 0 20px;
}


/* Navbar */
#navbar-container {
  background-color: white;
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

#logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
  -ms-grid-column-align: start;
  place-self: center start;
  width: 100px;
}

#logo img {
  width: 100%;
  height: 100%;
}

nav {
  display: none;
}

nav a {
  padding: 10px;
  margin: 0 5px;
  font-size: .9rem;
  font-weight: 400;
}

#navbar-btn {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row-align: center;
  -ms-grid-column-align: end;
  place-self: center end;
  width: 100px;
  height: 45px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #E2631A;
  border-radius: 7px;
  color: #E2631A;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

#navbar-btn:active {
  background-color: #E2631A;
  color: white;
}


/* HEADER */
#header-container {
  width: 100%;
  height: auto;
  margin-top: -50px;
}

#header {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: inherit;
}

.section-heading {
  position: relative;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  max-width: 500px;
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #262322;
  margin-bottom: 30px;
}

#title {
  font-size: 2rem;
}

.para {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 25px;
  word-spacing: 1px;
  text-align: justify;
}

#header-img {
  display: none;
}

#header-img-mobile {
  max-width: 600px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}


/* SECTION 1 */
#section-1-container {
  width: 100%;
  height: auto;
}

#section-1 {
  display: -ms-grid;
  display: grid;
  row-gap: 60px;
  place-items: center;
  height: initial;
}

#section-1 .section-heading > * {
  text-align: center;
}

#section-1 .para {
  text-align: center;
}

#passenger-driver {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
  text-align: center;
}

#passenger-driver img {
  width: 100%;
}

#passenger, #driver {
  width: 300px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
}

.vr {
  display: none;
}


/* SECTION 2 */
#section-2-container {
  width: 100%;
  height: auto;
}

#section-2 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 100px;
  height: inherit;
}

.steps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  max-width: 500px;
}

.steps div {
  max-width: 350px;
}

.steps div > * {
  margin-bottom: 10px;
}

.steps h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.cls-1{fill:#ffd0c2;}
.cls-2{fill:#262322;}
.cls-3{fill:#afdfff;}
.cls-4{fill:#E2631A;}
.cls-5{fill:#ffffff;}
.cls-6{fill:#388ce8;}

.steps div svg {
  width: 100%;
  max-width: 70px;
}


/* SECTION 3 */
#section-3-container {
  width: 100%;
  height: auto;
}

#section-3 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 100px;
  height: inherit;
}


/* SECTION 4 */
#section-4-container {
  width: 100%;
  height: auto;
}

#section-4 {
  display: -ms-grid;
  display: grid;
  height: inherit;
  place-items: center;
  row-gap: 100px;
}

#section-4 > * {
  width: 100%;
}

#android {
  width: 200px;
  margin-top: 40px;
}

#sign-up label {
  font-weight: 600;
}

#sign-up form div {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

#sign-up form div:focus-within {
  border-color: #262322;
}

#email {
  width: 100%;
  height: 50px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

#submit {
  -ms-grid-column-align: end;
      justify-self: end;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 1rem;
  color: white;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.enabled {
  background-color: #E2631A;
}

.enabled:active {
  -webkit-box-shadow: 0 0 0 20px rgb(255, 175, 129);
          box-shadow: 0 0 0 20px rgb(255, 175, 129);
}

#message {
  display: none;
  position: absolute;
  top: 50%;
  right: 70px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: white;
}

.complete {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 50px;
  border: none;
  font-size: 1rem;
  color: white;
}

.complete > * {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  -webkit-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  transition: 2s ease-out;
}

.anim {
  stroke-dashoffset: 0;
}

#success {
  display: none;
}

#success > * {
  stroke: rgb(26, 146, 226);
  fill: none;
}

#exists {
  display: none;
}

#exists > * {
  stroke: rgb(221, 82, 18);
  fill: none;
}

#error {
  display: none;
}

#error > * {
  stroke: rgb(221, 18, 18);
  fill: none;
}

#balloon {
  max-width: 600px;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}


/* FOOTER */
#footer-container {
  width: 100%;
  height: auto;
  background-color: #262322;
  color: white;
  padding: 50px 0;
}

#footer {
  display: -ms-grid;
  display: grid;
  row-gap: 60px;
  place-items: center;
  height: inherit;
}

#footer-logo {
  display: inline-block;
  width: 200px;
  -webkit-filter: grayscale(1) invert(1);
          filter: grayscale(1) invert(1);
}

#social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

#social a {
  width: 40px;
  height: 40px;
}

#social svg {
  border-radius: 5px;
  width: inherit;
  height: inherit;
}

#social svg > * {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

#social svg rect {
  fill: #262322;
}

#social svg path {
  fill: white;
}

#social svg:active rect {
  fill: #000;
}

#copyright {
  font-size: 0.8rem;
  font-weight: 300;
  
}

/* Tablet landscape */
@media (min-width: 900px) {
  html {
    font-size: 15px;
  }

  body {
    row-gap: 250px;
  }

  #navbar {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
  }

  #hamburger {
    display: none;
  }

  #close {
    display: none;
  }

  #logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .hide-nav {
    display: block;
  }

  nav {
    display: block;
    opacity: 1;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
  }

  nav a {
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }

  nav a:hover, nav a:focus {
    -webkit-box-shadow: 0 -3px 0 #262322 inset;
            box-shadow: 0 -3px 0 #262322 inset;
  }

  nav a:active {
    -webkit-box-shadow: 0 -3px 0 #7a7a7a inset;
            box-shadow: 0 -3px 0 #7a7a7a inset;
    color: #7a7a7a;
  }

  .align {
    width: 90%;
    margin: auto;
  }

  #navbar-btn:hover {
    background-color: #E2631A;
    color: white;
  }

  #navbar-btn:active {
    background-color: rgb(252, 139, 74);
  }

  #header-container {
    margin-top: -100px;
  }

  #header {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  #header .section-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    -ms-grid-row-align: start;
    -ms-grid-column-align: start;
    place-self: start;
  }

  #header-img {
    display: block;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 50px;
  }

  #header-img-mobile {
    display: none;
  }

  #passenger-driver {
    -ms-grid-columns: 1fr 50px 1px 50px 1fr;
    grid-template-columns: 1fr 1px 1fr;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  #passenger, #driver {
    width: 100%;
    max-width: 350px;
  }

  #passenger-driver svg {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
  }

  #passenger-driver svg:hover, #passenger-driver svg:focus {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .vr {
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  #section-2, #section-3 {
    row-gap: 150px;
  }

  #section-2 .section-heading, #section-3 .section-heading {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    max-width: none;
  }

  .steps {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: none;
    width: 100%;
  }

  #section-4-container {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  #section-4 {
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    place-items: start;
  }

  #sign-up {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .enabled:hover {
    -webkit-box-shadow: 0 0 0 20px rgb(255, 161, 107);
            box-shadow: 0 0 0 20px rgb(255, 161, 107);
  }

  .enabled:active {
    -webkit-box-shadow: 0 0 0 10px rgb(255, 207, 179);
            box-shadow: 0 0 0 10px rgb(255, 207, 179);
  }

  #balloon {
    margin-top: -250px;
    margin-bottom: -150px;
    max-width: none;
  }

  #footer {
    -ms-grid-columns: 1fr 150px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 150px;
       -moz-column-gap: 150px;
            column-gap: 150px;
    row-gap: 20px;
  }

  #footer-logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-row: 1 / 3;
    grid-column: 1;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  #footer h3 {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  #social {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  #social svg:hover rect {
    fill: #4b4b4b;
  }

  #social svg:active rect {
    fill: #000;
  }

  #copyright {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 30px;
  }

  .animation-element, .animation-steps-driver, .animation-steps-passenger {
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}

/* Laptop and Desktop */
@media (min-width: 1240px) {
  .align {
    width: 85%;
  }

  #header-img {
    margin-top: 0;
  }

  #passenger-driver {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }

  .steps {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #section-4 {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
}

/* Large Screens */
@media (min-width: 1440px) {
  .align {
    width: 80%;
  }

  #passenger-driver {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }

  #section-4 {
    -webkit-column-gap: 200px;
       -moz-column-gap: 200px;
            column-gap: 200px;
  }
}