* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
  
ul {
  list-style-type: none;
}
  
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  color: #262322;
  text-decoration: none;
}

strong {
  font-weight: inherit;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #262322;
}

body {
  display: grid;
  row-gap: 50px;
}

.align {
  margin: 0 20px;
}


/* WEB HEADER */
#web-header-container {
  width: 100%;
  height: 90px;
}

#web-header {
  display: grid;
  height: 100%;
}

#logo {
  grid-column: 1;
  place-self: center start;
  height: 50px;
  width: 100px;
}

#logo img {
  width: 100%;
  height: 100%;
}

nav {
  display: none;
  grid-column: 2;
  place-self: center;
}

nav a {
  padding: 10px;
  margin: 0 5px;
}

.btn {
  background-color: #E2631A;
  border-radius: 7px;
  color: white;
  font-weight: 500;
}

#web-header-btn {
  grid-column: 3;
  place-self: center end;
  width: 100px;
  height: 45px;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #E2631A;
}


/* HEADER */
#header-container {
  width: 100%;
  height: auto;
}

#header {
  display: grid;
  place-items: center;
  height: inherit;
}

#header .section-heading {
  place-items: center;
}

.section-heading {
  display: grid;
  row-gap: 30px;
  max-width: 500px;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  color: #262322;
}

#title {
  font-size: 2.2rem;
}

.para {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 25px;
  word-spacing: 1px;
  padding: 30px;
  border-top: .5px solid rgba(0, 0, 0, 0.1);
  border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

#header-btn {
  width: 100%;
  height: 55px;
  font-size: 0.95rem;
}

#header-img-mobile {
  max-width: 650px;
}

#header-img {
  display: none;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}


/* SECTION 1 */
#section-1-container {
  width: 100%;
  height: auto;
}

#section-1 {
  display: grid;
  row-gap: 60px;
  place-items: center;
  height: initial;
}

#section-1 .section-heading {
  text-align: center;
}


/* SECTION 2 */
#section-2-container {
  width: 100%;
  height: auto;
}

#section-2 {
  display: grid;
  place-items: center;
  row-gap: 60px;
  height: inherit;
}

#steps {
  display: grid;
  row-gap: 30px;
  max-width: 500px;
}

#steps div {
  display: grid;
  row-gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 20px;
}

#steps .para {
  border: none;
  padding: 0;
}

#steps div img {
  place-self: center;
  width: 100%;
  max-width: 250px;
}


/* SECTION 3 */
#section-3-container {
  width: 100%;
  height: auto;
}

#section-3 {
  display: grid;
  place-items: center;
  row-gap: 60px;
  height: inherit;
}

#section-3 img {
  max-width: 600px;
}


/* FOOTER */
#footer-container {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 100px;
  padding-bottom: 20px;
}

#footer {
  display: grid;
  row-gap: 60px;
  place-items: center;
  height: inherit;
}

#footer-logo-1 {
  display: inline-block;
  width: 80px;
  height: 80px;
}

#footer-logo-2 {
  display: inline-block;
  width: 300px;
  height: 80px;
}

#join {
  display: grid;
  place-items: center;
  text-align: center;
  row-gap: 20px;
  max-width: 500px;
}

#join .btn {
  width: 200px;
  height: 45px;
}

#social img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

/* Mobile landscape and Tablet portrait */
@media (min-width: 640px) {
  #header-btn {
    width: 200px;
  }
}

/* Tablet landscape */
@media (min-width: 900px) {
  body {
    row-gap: 70px;
  }

  #web-header-container {
    height: 80px;
  }

  nav {
    display: block;
  }

  .align {
    width: 90%;
    margin: auto;
  }

  #header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
    position: relative;
  }
  
  #header .section-heading {
    grid-area: 1 / 1 / 1 / 1;
    place-self: start;
  }

  .heading {
    font-size: 2.4rem;
  }

  #title {
    font-size: 2.8rem;
  }

  .para {
    font-size: 0.85rem;
  }

  #header-btn {
    justify-self: start;
  }

  #header-img-mobile {
    display: none
  }

  #header-img {
    display: block;
    grid-area: 1 / 1 / 3 / 3;
    margin-top: 100px;
    max-width: 1100px;
  }

  #section-1 {
    row-gap: 200px;
  }

  #section-2 .section-heading {
    justify-self: start;
  }

  #steps {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    max-width: none;
    width: 100%;
  }

  #section-3 .section-heading {
    justify-self: start;
  }

  #section-3 img {
    max-width: 1000px;
  }

  #footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 80px;
    justify-items: start;
  }

  #footer-logo-1 {
    grid-area: 2 / 1 / 2 / 2;
  }

  #footer-logo-2 {
    grid-area: 1 / 1 / 1 / 3;
    place-self: center;
  }

  #join {
    grid-area: 2 / 2 / 4 / 3;
    justify-items: start;
    text-align: left;
  }

  #social {
    grid-area: 3 / 1 / 3 / 2;
  }

  #copyright {
    grid-area: 4 / 1 / 4 / 2;
  }
}

/* Laptop and Desktop */
@media (min-width: 1240px) {
  body {
    row-gap: 120px;
  }

  .align {
    width: 85%;
  }

  #header-img {
    margin-top: 0;
  }

  #steps {
    column-gap: 7%;
  }

  #steps div:nth-child(1) img {
    margin-left: -300px;
  }

  #steps div:nth-child(3) img {
    margin-right: -250px;
  }
}

/* Large Screens */
@media (min-width: 1440px) {
  .align {
    width: 70%;
  }
}